html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.header {
    background-color: #000;
    margin: auto;
    padding: 40px 50px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    position: fixed;
    border-bottom-style: solid;
    border-bottom-color: #fdb918;
    border-bottom-width: 20px;
}

.header li {
    display: inline-block;
    margin-right: 120px;
    font-size: 1.6em;
    font-weight: bold;
}

.header a{
    color: #fff
}

.header a.active {
    color: #fdb918
}

.formWrapper {
    position: fixed;
    top: 140px;
    left: 50%;
    transform: translate(-50%,0);
}

.formWrapper form{
    display: flex;

}

.formWrapper input{
    padding: 10px;
    width: 250px;
    font-weight: bold;
}





